JSON_files/flows_4_CUSTOMER DETAILS PAGE.json
[{"id":"6ff7f77f47a1bfa9","type":"tab","label":"PASSENGER_DETAILS","disabled":false,"info":"","env":[]},{"id":"e8fd7e8dc757c1dc","type":"worldmap-tracks","z":"6ff7f77f47a1bfa9","name":"","depth":20,"layer":"combined","smooth":false,"x":210,"y":1100,"wires":[[]]},{"id":"4c614ce9231ed537","type":"function","z":"6ff7f77f47a1bfa9","name":"","func":"msg.payload=msg.payload.Name\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":220,"wires":[["18cacf9213ef8f0b"]]},{"id":"1f3f7a6a145f830d","type":"function","z":"6ff7f77f47a1bfa9","name":"","func":"msg.payload=msg.payload.Age\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":260,"wires":[["a8d77c1ee83220be"]]},{"id":"4008082ce3dc6cea","type":"cloudant in","z":"6ff7f77f47a1bfa9","name":"","cloudant":"","database":"crendentials","service":"node-red-fexgs-2022--cloudant-1667492963630-9394","search":"_id_","design":"","index":"","x":370,"y":220,"wires":[["4c614ce9231ed537","1f3f7a6a145f830d","b2e65ac7f73a8369","42d2f8292f379ed4","703cd85d6f948668","4ae7c6aba77cde05","50bd11560fc79273","84b159e933c8773b","1de3a31373882fb6","2fe3164fcf560a51","2f262f61849d2341","9fb864b4f9ba676e"]]},{"id":"3982579375d5adbc","type":"ui_form","z":"6ff7f77f47a1bfa9","name":"","label":"","group":"1d02848d71b8d01f","order":1,"width":10,"height":3,"options":[{"label":"ID","value":"ID","type":"password","required":true,"rows":null}],"formValue":{"ID":""},"payload":"","submit":"ENTER","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":70,"y":100,"wires":[["fb629a74c12bf850","11143785e1cfa599"]]},{"id":"18cacf9213ef8f0b","type":"ui_text","z":"6ff7f77f47a1bfa9","group":"82188873320f39a3","order":2,"width":5,"height":1,"name":"","label":"PASSENGER NAME","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1020,"y":220,"wires":[]},{"id":"b2e65ac7f73a8369","type":"function","z":"6ff7f77f47a1bfa9","name":"","func":"msg.payload=msg.payload.GENDER\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":300,"wires":[["23ac1628630b5f82"]]},{"id":"42d2f8292f379ed4","type":"function","z":"6ff7f77f47a1bfa9","name":"","func":"msg.payload=msg.payload.Mobile\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":340,"wires":[["cc969d3b7770cf81"]]},{"id":"703cd85d6f948668","type":"function","z":"6ff7f77f47a1bfa9","name":"","func":"msg.payload=msg.payload.DATE\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":380,"wires":[["3f6a37230b051e6e"]]},{"id":"4ae7c6aba77cde05","type":"function","z":"6ff7f77f47a1bfa9","name":"","func":"msg.payload=msg.payload.TIME\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":420,"wires":[["d42ae665fa4bdc0c"]]},{"id":"50bd11560fc79273","type":"function","z":"6ff7f77f47a1bfa9","name":"","func":"msg.payload=msg.payload.Boarding\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":460,"wires":[["d7ed5433f4d8cb1c"]]},{"id":"84b159e933c8773b","type":"function","z":"6ff7f77f47a1bfa9","name":"","func":"msg.payload=msg.payload.Destination\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":500,"wires":[["3c0aabfeffaa2864"]]},{"id":"1de3a31373882fb6","type":"function","z":"6ff7f77f47a1bfa9","name":"","func":"msg.payload=msg.payload.Food\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":540,"wires":[["9607c7e83303d219"]]},{"id":"2fe3164fcf560a51","type":"function","z":"6ff7f77f47a1bfa9","name":"","func":"msg.payload=msg.payload.Beverages\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":580,"wires":[["f69d6105d7aa7e76"]]},{"id":"2f262f61849d2341","type":"function","z":"6ff7f77f47a1bfa9","name":"","func":"msg.payload=msg.payload.Snacks\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":620,"wires":[["51e839760b477ad7"]]},{"id":"a8d77c1ee83220be","type":"ui_text","z":"6ff7f77f47a1bfa9","group":"82188873320f39a3","order":3,"width":5,"height":1,"name":"","label":"AGE","format":"{{msg.payload}}","layout":"row-spread","className":"","x":970,"y":260,"wires":[]},{"id":"23ac1628630b5f82","type":"ui_text","z":"6ff7f77f47a1bfa9","group":"82188873320f39a3","order":4,"width":5,"height":1,"name":"","label":"GENDER","format":"{{msg.payload}}","layout":"row-spread","className":"","x":980,"y":300,"wires":[]},{"id":"cc969d3b7770cf81","type":"ui_text","z":"6ff7f77f47a1bfa9","group":"82188873320f39a3","order":8,"width":10,"height":1,"name":"","label":"MOBILE","format":"{{msg.payload}}","layout":"row-spread","className":"","x":980,"y":340,"wires":[]},{"id":"3f6a37230b051e6e","type":"ui_text","z":"6ff7f77f47a1bfa9","group":"82188873320f39a3","order":9,"width":10,"height":1,"name":"","label":"DATE","format":"{{msg.payload}}","layout":"row-spread","className":"","x":970,"y":380,"wires":[]},{"id":"d42ae665fa4bdc0c","type":"ui_text","z":"6ff7f77f47a1bfa9","group":"82188873320f39a3","order":10,"width":10,"height":1,"name":"","label":"TIME","format":"{{msg.payload}}","layout":"row-spread","className":"","x":970,"y":420,"wires":[]},{"id":"d7ed5433f4d8cb1c","type":"ui_text","z":"6ff7f77f47a1bfa9","group":"82188873320f39a3","order":6,"width":5,"height":1,"name":"","label":"BOARDING","format":"{{msg.payload}}","layout":"row-spread","className":"","x":990,"y":460,"wires":[]},{"id":"3c0aabfeffaa2864","type":"ui_text","z":"6ff7f77f47a1bfa9","group":"82188873320f39a3","order":7,"width":5,"height":1,"name":"","label":"DESTINATION","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1000,"y":500,"wires":[]},{"id":"9607c7e83303d219","type":"ui_text","z":"6ff7f77f47a1bfa9","group":"82188873320f39a3","order":11,"width":10,"height":1,"name":"","label":"FOOD","format":"{{msg.payload}}","layout":"row-spread","className":"","x":970,"y":540,"wires":[]},{"id":"f69d6105d7aa7e76","type":"ui_text","z":"6ff7f77f47a1bfa9","group":"82188873320f39a3","order":12,"width":10,"height":1,"name":"","label":"BEVERAGES","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1000,"y":580,"wires":[]},{"id":"51e839760b477ad7","type":"ui_text","z":"6ff7f77f47a1bfa9","group":"82188873320f39a3","order":13,"width":10,"height":1,"name":"","label":"SNACKS","format":"{{msg.payload}}","layout":"row-spread","className":"","x":980,"y":620,"wires":[]},{"id":"3d0e8ddbed7e748c","type":"ui_template","z":"6ff7f77f47a1bfa9","group":"82188873320f39a3","name":"","order":1,"width":10,"height":4,"format":"<img src=(\"https://t3.ftcdn.net/jpg/01/22/71/96/360_F_122719641_V0yw2cAOrfxsON3HeWi2Sf4iVxhv27QO.jpg\") />","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":720,"y":700,"wires":[[]]},{"id":"6ec1b48aaf04578d","type":"ui_text","z":"6ff7f77f47a1bfa9","group":"82188873320f39a3","order":5,"width":5,"height":1,"name":"","label":"Seat","format":"{{msg.payload}}","layout":"row-spread","className":"","x":970,"y":660,"wires":[]},{"id":"9fb864b4f9ba676e","type":"function","z":"6ff7f77f47a1bfa9","name":"","func":"msg.payload=msg.payload.Seat\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":660,"wires":[["6ec1b48aaf04578d"]]},{"id":"fb629a74c12bf850","type":"function","z":"6ff7f77f47a1bfa9","name":"","func":"msg.payload=msg.payload.ID\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":220,"wires":[["4008082ce3dc6cea"]]},{"id":"11143785e1cfa599","type":"trigger","z":"6ff7f77f47a1bfa9","name":"","op1":"{\"tab\":\"Tab10\"}","op2":"0","op1type":"json","op2type":"str","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":260,"y":40,"wires":[["e39ec149db5cee9c"],[]]},{"id":"e39ec149db5cee9c","type":"link out","z":"6ff7f77f47a1bfa9","name":"","mode":"link","links":["eff2303357913851"],"x":475,"y":100,"wires":[]},{"id":"48556e263726647c","type":"ui_button","z":"6ff7f77f47a1bfa9","name":"","group":"82188873320f39a3","order":13,"width":0,"height":0,"passthru":false,"label":"BACK","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"tab\":\"Tab9\"}","payloadType":"json","topic":"topic","topicType":"msg","x":250,"y":100,"wires":[["e39ec149db5cee9c"]]},{"id":"37dc04f90eae019c","type":"ui_button","z":"6ff7f77f47a1bfa9","name":"","group":"1d02848d71b8d01f","order":1,"width":0,"height":0,"passthru":false,"label":"BACK","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"tab\":\"Tab3\"}","payloadType":"json","topic":"topic","topicType":"msg","x":250,"y":140,"wires":[["e39ec149db5cee9c"]]},{"id":"1d02848d71b8d01f","type":"ui_group","name":"ENTER UNIQUE ID","tab":"7ab6ec3d5de09838","order":1,"disp":true,"width":10,"collapse":false,"className":""},{"id":"82188873320f39a3","type":"ui_group","name":"PASSENGER_DETAILS","tab":"81fbf4612d1f8b9b","order":1,"disp":true,"width":"10","collapse":false,"className":""},{"id":"7ab6ec3d5de09838","type":"ui_tab","name":"Tab9","icon":"dashboard","order":8,"disabled":false,"hidden":false},{"id":"81fbf4612d1f8b9b","type":"ui_tab","name":"Tab10","icon":"dashboard","order":10,"disabled":false,"hidden":false}]