JSON_files/flows_3_PANTRY PAGE.json
[{"id":"7e750c1997c3c6b5","type":"tab","label":"PANTRY","disabled":false,"info":"","env":[]},{"id":"c4698349afdd3d04","type":"ui_dropdown","z":"7e750c1997c3c6b5","name":"","label":"","tooltip":"","place":"Select option","group":"17cd72f184baf1a0","order":6,"width":7,"height":1,"passthru":true,"multiple":true,"options":[{"label":"MINI BREAKFAST","value":"MINI_BREAKFAST","type":"str"},{"label":"INDIAN MEALS","value":"INDIAN_MEALS","type":"str"},{"label":"THALI","value":"THALI","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":160,"y":220,"wires":[["19466a0444ee454d"]]},{"id":"c302893874f522d8","type":"ui_dropdown","z":"7e750c1997c3c6b5","name":"","label":"","tooltip":"","place":"Select option","group":"17cd72f184baf1a0","order":7,"width":7,"height":1,"passthru":true,"multiple":true,"options":[{"label":"WATER BOTTLE","value":"WATER_BOTTLE","type":"str"},{"label":"7 UP","value":"7_UP","type":"str"},{"label":"COCA COLA","value":"COCA_COLA","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":360,"y":220,"wires":[["e0cc68b9d7e4a2a6"]]},{"id":"75fc426fe79065e7","type":"ui_text","z":"7e750c1997c3c6b5","group":"17cd72f184baf1a0","order":1,"width":7,"height":1,"name":"","label":"FOOD","format":"{{msg.payload}}","layout":"row-center","className":"","x":150,"y":180,"wires":[]},{"id":"19fed54a32a81761","type":"ui_text","z":"7e750c1997c3c6b5","group":"17cd72f184baf1a0","order":3,"width":7,"height":1,"name":"","label":"BEVERAGES","format":"{{msg.payload}}","layout":"row-center","className":"","x":380,"y":180,"wires":[]},{"id":"3a74bc01f3485332","type":"ui_dropdown","z":"7e750c1997c3c6b5","name":"","label":"","tooltip":"","place":"Select option","group":"17cd72f184baf1a0","order":9,"width":7,"height":1,"passthru":true,"multiple":true,"options":[{"label":"SAMOSA","value":"SAMOSA","type":"str"},{"label":"TEA/COFFEE/MILK","value":"TEA/COFFEE/MILK","type":"str"},{"label":"CHIPS","value":"CHIPS","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":600,"y":220,"wires":[["6d90e0b41e8730af"]]},{"id":"962ecfc5b48d1005","type":"ui_text","z":"7e750c1997c3c6b5","group":"17cd72f184baf1a0","order":5,"width":7,"height":1,"name":"","label":"SNACKS","format":"{{msg.payload}}","layout":"row-center","className":"","x":600,"y":180,"wires":[]},{"id":"8de37a1f565a3025","type":"debug","z":"7e750c1997c3c6b5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":620,"wires":[]},{"id":"faa3c4234be22878","type":"function","z":"7e750c1997c3c6b5","name":"","func":"var myarray =  [\"0\",\"1\",\"2\",\"3\",\"4\",\"5\",\"6\",\"7\",\"8\",\"9\",\"10\"];\nvar myarray1 =  [\"11\",\"12\",\"22\",\"43\",\"43\",\"56\",\"86\",\"79\",\"58\",\"97\"];\nvar myarray2 =  [\"234\",\"126\",\"987\",\"345\",\"234\",\"557\",\"687\",\"709\",\"857\",\"945\",\"104\"];\nvar randomItem1 = myarray[Math.floor(Math.random()*myarray.length)];\nvar randomItem2 = myarray1[Math.floor(Math.random()*myarray1.length)];\nvar randomItem3= myarray2[Math.floor(Math.random()*myarray2.length)];\nvar mar2=randomItem1+randomItem3+randomItem2\nmsg.payload=mar2\nglobal.set(\"man2\",msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":540,"wires":[["8de37a1f565a3025"]]},{"id":"19466a0444ee454d","type":"function","z":"7e750c1997c3c6b5","name":"","func":"global.set(\"food\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":400,"wires":[[]]},{"id":"e0cc68b9d7e4a2a6","type":"function","z":"7e750c1997c3c6b5","name":"","func":"global.set(\"beverages\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":400,"wires":[[]]},{"id":"6d90e0b41e8730af","type":"function","z":"7e750c1997c3c6b5","name":"","func":"global.set(\"snacks\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":400,"wires":[[]]},{"id":"f9776b9097261694","type":"function","z":"7e750c1997c3c6b5","name":"","func":"global.set(\"button1\",msg.payload)\nvar button=msg.payload\nif(button==1){\n    var a=global.get(\"food\")\n    msg.payload=a\n    global.set(\"a1\",msg.payload)\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":580,"wires":[[]]},{"id":"314091fe8bbb2940","type":"function","z":"7e750c1997c3c6b5","name":"","func":"var butto=msg.payload\nif(butto==1){\n \n    var c=global.get(\"snacks\")\n    msg.payload=c\n    global.set(\"c1\",msg.payload)\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":540,"wires":[[]]},{"id":"a5383942980d3038","type":"function","z":"7e750c1997c3c6b5","name":"","func":"var butt=msg.payload\nif(butt==1){\n    \n    var b=global.get(\"beverages\")\n   \n    msg.payload=b\n    global.set(\"b1\",msg.payload)\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":500,"wires":[[]]},{"id":"53ed5c33718bb7e1","type":"link in","z":"7e750c1997c3c6b5","name":"","links":["5ccd1eda6b692601"],"x":145,"y":480,"wires":[["751d0e7c014e01d6","faa3c4234be22878"]]},{"id":"751d0e7c014e01d6","type":"function","z":"7e750c1997c3c6b5","name":"","func":"msg.payload=1\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":480,"wires":[["8de37a1f565a3025","f9776b9097261694","314091fe8bbb2940","a5383942980d3038"]]},{"id":"de723e8a5a12fcb4","type":"ui_spacer","z":"7e750c1997c3c6b5","name":"spacer","group":"17cd72f184baf1a0","order":4,"width":1,"height":1},{"id":"72819b453320aba1","type":"ui_spacer","z":"7e750c1997c3c6b5","name":"spacer","group":"17cd72f184baf1a0","order":8,"width":1,"height":1},{"id":"17cd72f184baf1a0","type":"ui_group","name":"FOOD","tab":"b6c9ac58dd4e234a","order":1,"disp":true,"width":23,"collapse":false,"className":""},{"id":"b6c9ac58dd4e234a","type":"ui_tab","name":"FOOD_PAGE","icon":"dashboard","order":6,"disabled":false,"hidden":false}]