JSON_files/flows_2_BOOKING PAGE.json
[{"id":"ccc89184cd285979","type":"tab","label":"BOOKING","disabled":false,"info":"","env":[]},{"id":"947577bd5b6d2fea","type":"ibmiot in","z":"ccc89184cd285979","authentication":"apiKey","apiKey":"05f8fb769a321474","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":130,"y":980,"wires":[["238de3604c20ee80","e7d6a89a9a7ec686","92fa8709ca33b25e"]]},{"id":"238de3604c20ee80","type":"debug","z":"ccc89184cd285979","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":310,"y":960,"wires":[]},{"id":"f28cfdb6124cc6e6","type":"ui_dropdown","z":"ccc89184cd285979","name":"","label":"Boarding    Station :  ","tooltip":"","place":"Select option","group":"ba852f1b82237623","order":3,"width":"0","height":"0","passthru":true,"multiple":false,"options":[{"label":"Chennai","value":"Chennai","type":"str"},{"label":"Mumbai","value":"Mumbai","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":130,"y":760,"wires":[["5b60834f7c4fee18"]]},{"id":"7c69be2a3ae05229","type":"ui_dropdown","z":"ccc89184cd285979","name":"","label":"Destination Station :","tooltip":"","place":"Select option","group":"ba852f1b82237623","order":4,"width":"0","height":"0","passthru":true,"multiple":false,"options":[{"label":"Chennai","value":"Chennai","type":"str"},{"label":"Mumbai","value":"Mumbai","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":140,"y":860,"wires":[["37b09f686ac71c06"]]},{"id":"5b60834f7c4fee18","type":"function","z":"ccc89184cd285979","name":"Boarding","func":"global.set('b',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":760,"wires":[["224f5c33bab7e443"]]},{"id":"37b09f686ac71c06","type":"function","z":"ccc89184cd285979","name":"Destination","func":"global.set('d',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":860,"wires":[["224f5c33bab7e443"]]},{"id":"8d3dcb56c574d514","type":"ui_dropdown","z":"ccc89184cd285979","name":"","label":"seat","tooltip":"","place":"Select option","group":"ba852f1b82237623","order":5,"width":"0","height":"0","passthru":true,"multiple":false,"options":[{"label":"1","value":1,"type":"num"},{"label":"2","value":2,"type":"num"},{"label":"3","value":3,"type":"num"},{"label":"4","value":4,"type":"num"},{"label":"5","value":5,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":730,"y":640,"wires":[["824536f8dfb88429"]]},{"id":"e8b0fd044fed04eb","type":"delay","z":"ccc89184cd285979","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":360,"y":540,"wires":[["3af7bdd400839141"]]},{"id":"33eab15f8d3214ee","type":"function","z":"ccc89184cd285979","name":"","func":"global.set(\"s1\",0)\nglobal.set(\"s2\",0)\nglobal.set(\"s3\",0)\nglobal.set(\"s4\",0)\nglobal.set(\"s5\",0)\nvar a_1=[1,2,3,4,5]\nglobal.set(\"a\",a_1)\nmsg.payload=global.get('a')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":640,"wires":[["3af7bdd400839141"]]},{"id":"aee9799872427e55","type":"ui_button","z":"ccc89184cd285979","name":"","group":"ba852f1b82237623","order":7,"width":"0","height":"0","passthru":false,"label":"CLEAR","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":100,"y":640,"wires":[["33eab15f8d3214ee"]]},{"id":"3af7bdd400839141","type":"function","z":"ccc89184cd285979","name":"","func":"var a= global.get('a')\nvar s=[]\nfor(let i=0;i<a.length;i++){\n    s.push(a[i])\n}\nif(s.length==0){\n    msg.options=[{\"No seats available\":0}]\n    \n}\nelse{\n    msg.options=s\n}\nmsg.payload=s \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":640,"wires":[["8d3dcb56c574d514"]]},{"id":"824536f8dfb88429","type":"function","z":"ccc89184cd285979","name":"","func":"global.set('s',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":640,"wires":[[]]},{"id":"faf5936d7e8c7e4c","type":"function","z":"ccc89184cd285979","name":"","func":"var s=global.get('s')\nvar a=global.get('a')\nfunction rem(x){\n    for(let i=0;i<a.length;i++){\n        if(a[i]==x){\n            a.splice(i,1)\n        }\n    }\n}\nif(s==1){\n    global.set('s1',s)\n    rem(s)\n}\nelse if(s==2){\n    global.set('s2',s)\n    rem(s)\n}\nelse if(s==3){\n    global.set('s3',s)\n    rem(s)\n}\nelse if(s==4){\n    global.set('s4',s)\n    rem(s)\n}\nelse if(s==5){\n    global.set('s5',s)\n    rem(s)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":280,"wires":[[]]},{"id":"3885cec1c8611bd2","type":"function","z":"ccc89184cd285979","name":"","func":"global.set('m',msg.payload)\nvar a=global.get('s')\nif(a==1||a==2||a==3||a==4||a==5){\n    msg.payload=0\n}\nelse{\n    msg.payload=1\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":360,"wires":[["8d460248efd055e2"]]},{"id":"0c3cdd9dd5e5bebf","type":"function","z":"ccc89184cd285979","name":"","func":"msg.payload=\"Ticket cannot be booked\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":360,"wires":[["b43adc3bf2d36591"]]},{"id":"b43adc3bf2d36591","type":"ui_toast","z":"ccc89184cd285979","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":950,"y":360,"wires":[[]]},{"id":"525944575d290c54","type":"function","z":"ccc89184cd285979","name":"storing db","func":"//var name=global.get('mo')\n//var age=global.get('mo1')\n//var number=global.get('mo2')\nvar Form=global.get(\"form\")\nvar top=global.get(\"man\")\nvar d=new Date();\nvar utc= d.getTime()+(d.getTimezoneOffset()*60000);\nvar offset=5.5;\nnewDate = new Date (utc+(3600000*offset));\nvar n= newDate.toISOString()\nvar date=n.slice(0,10)\nvar time=n.slice(11,19)\nvar d1=date+','+top+time+top\nmsg.payload={\n    \"_id\":d1,\n    \"Name\":Form.name,\n    \"Age\":Form.age,\n    \"GENDER\":Form.gender,\n    \"Mobile\":Form.number,\n    \"DATE\":Form.date,\n    \"TIME\":Form.time,\n    \"Boarding\":global.get('b'),\n    \"Destination\":global.get('d'),\n    \"Seat\":global.get('s'),\n    \"Food\":global.get(\"a1\"),\n    \"Beverages\":global.get(\"b1\"),\n    \"Snacks\":global.get(\"c1\"),\n    \"UI\":d1\n}\nglobal.set('d2',msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":200,"wires":[["d48298eeb9a984d7","5d8edf1cb3d66b42","44d91f5b201cfecf","cc964beca478e8e0"]]},{"id":"d48298eeb9a984d7","type":"function","z":"ccc89184cd285979","name":"","func":"msg.qrcodeinput=msg.payload._id\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1360,"y":280,"wires":[["498d84fb7d854d6a"]]},{"id":"5d8edf1cb3d66b42","type":"cloudant out","z":"ccc89184cd285979","name":"","cloudant":"","database":"crendentials","service":"node-red-fexgs-2022--cloudant-1667492963630-9394","payonly":true,"operation":"insert","x":1370,"y":200,"wires":[]},{"id":"498d84fb7d854d6a","type":"qrcode-generator","z":"ccc89184cd285979","name":"","qrtype":"text2qr","text2qrText":"image","ssid":"","hiddenssid":false,"wifitype":"","phonenum":"","smsphonenum":"","smstext":"","mailto":"blackraidz638@gmail.com","mailsubject":"qr","mailbody":"dvsdvsd","latitude":"","longitude":"","colorlight":"#ffffff","colordark":"#000000","printstatus":true,"x":1610,"y":200,"wires":[["a595683c727b62ab","134ad14d56d561eb"]]},{"id":"134ad14d56d561eb","type":"function","z":"ccc89184cd285979","name":"","func":"msg.payload=\"Ticket is booked \"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1840,"y":60,"wires":[["1c13ac015551eb5f"]]},{"id":"a595683c727b62ab","type":"ui_template","z":"ccc89184cd285979","group":"2b41db177dc550c1","name":"qr","order":1,"width":13,"height":11,"format":"<img src={{msg.payload}} />","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2190,"y":200,"wires":[[]]},{"id":"1c13ac015551eb5f","type":"ui_toast","z":"ccc89184cd285979","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":2010,"y":60,"wires":[["f557740c2e7e6870","81bca23dba40221c"]]},{"id":"81bca23dba40221c","type":"function","z":"ccc89184cd285979","name":"","func":"var boarding=global.get(\"b\")\nvar destination=global.get(\"d\")\nif (boarding==\"Chennai\" && destination==\"Mumbai\"){\n    msg.payload=\"TRAIN_NO:\"+\"IND002\" +\" ;\"+\"LOCATION_URL:\"+\"\"+\"https://node-red-qoxft-2022-11-04.eu-gb.mybluemix.net/worldmap/\"\n}\nelse if(boarding==\"Mumbai\" && destination==\"Chennai\"){\n    msg.payload=\"TRAIN_NO:\"+\"IND001\" +\" ;\"+\"LOCATION_URL\"+\"https://node-red-qoxft-2022-11-04.eu-gb.mybluemix.net/worldmap/\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2020,"y":140,"wires":[["c0e7f83285bf9616"]]},{"id":"e7d6a89a9a7ec686","type":"worldmap","z":"ccc89184cd285979","name":"","lat":"24.302037","lon":"78.126609","zoom":"9","layer":"EsriT","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","showruler":"false","allowFileDrop":"true","path":"/worldmap","overlist":"RW","maplist":"OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":440,"y":1120,"wires":[]},{"id":"8d460248efd055e2","type":"switch","z":"ccc89184cd285979","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":300,"wires":[["8a48b325d989815d"],["0c3cdd9dd5e5bebf"]]},{"id":"d58055106f0ebcc6","type":"ui_template","z":"ccc89184cd285979","group":"5e3a3412baeeb827","name":"html","order":4,"width":22,"height":1,"format":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\">\n<title>output</title>\n<link rel=\"stylesheet\" href= \"https:maxcdn.boorstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css\">\n<style>\n    body\n\n    {\n                background-image:url(\"https://images.unsplash.com/photo-1474487548417-781cb71495f3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=984&q=80\");\n                background-size:cover;\n             }\n        </style>\n</head>\n  <script>\n  window.watsonAssistantChatOptions = {\n    integrationID: \"65de454b-686a-435b-b99c-8ed6e0509264\", // The ID of this integration.\n    region: \"us-south\", // The region your integration is hosted in.\n    serviceInstanceID: \"29e1711d-aeca-438c-84b5-e6cccdca0155\", // The ID of your service instance.\n    onLoad: function(instance) { instance.render(); }\n  };\n  setTimeout(function(){\n    const t=document.createElement('script');\n    t.src=\"https://web-chat.global.assistant.watson.appdomain.cloud/versions/\" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + \"/WatsonAssistantChatEntry.js\";\n    document.head.appendChild(t);\n  });\n</script>\n\n\n</body>\n</html> ","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":2190,"y":260,"wires":[["7fb553a330a339cc"]]},{"id":"14fd2307103e05e5","type":"ui_button","z":"ccc89184cd285979","name":"","group":"2b41db177dc550c1","order":2,"width":13,"height":1,"passthru":false,"label":"BACK","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"tab\":\"PAYMENT_PAGE\"}","payloadType":"json","topic":"topic","topicType":"msg","x":2370,"y":260,"wires":[["7fb553a330a339cc"]]},{"id":"032720604ce06ffa","type":"delay","z":"ccc89184cd285979","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2520,"y":60,"wires":[["ce263c51abc5f1ad"]]},{"id":"ce263c51abc5f1ad","type":"trigger","z":"ccc89184cd285979","name":"","op1":"{\"tab\":\"LOGIN_PAGE\"}","op2":"0","op1type":"json","op2type":"str","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":2700,"y":60,"wires":[["7fb553a330a339cc"],[]]},{"id":"7fb553a330a339cc","type":"link out","z":"ccc89184cd285979","name":"","mode":"link","links":["b508431350f7f44c"],"x":2855,"y":240,"wires":[]},{"id":"5e2dbbfafd415d35","type":"function","z":"ccc89184cd285979","name":"","func":"var d3=global.get('man')\nvar mails=global.get('mail')\nmsg.payload=mails\nmsg.to=msg.payload\nmsg.from=\"citybabu.m@care.ac.in\"\nmsg.topic=\"OTP\"\nmsg.payload=d3\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":160,"wires":[["f90fdcdd5910e530"]]},{"id":"1cd47da0d09f9321","type":"function","z":"ccc89184cd285979","name":"","func":"var myArray = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z'];\nvar myarray =  [\"0\",\"1\",\"2\",\"3\",\"4\",\"5\",\"6\",\"7\",\"8\",\"9\",\"10\"];\nvar alpa_1 = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']; \nvar alpa_2 = ['X','S','P','K','I','G','D','B','A'];\nvar alpa_3 = ['y','t','p','o','l','k','j','g','e'];\nvar sym = ['!','@','#','$','%','&','*'];\nvar randomItem = myArray[Math.floor(Math.random()*myArray.length)];\nvar randomItem1 = myarray[Math.floor(Math.random()*myarray.length)];\nvar randomItem2 = alpa_1[Math.floor(Math.random()*alpa_1.length)];\nvar randomItem3= alpa_2[Math.floor(Math.random()*alpa_2.length)];\nvar randomItem4 = alpa_3[Math.floor(Math.random()*alpa_3.length)];\nvar randomItem5 = sym[Math.floor(Math.random()*sym.length)];\nvar mar=randomItem+randomItem1+randomItem2+randomItem5+randomItem3+randomItem4\nvar mar1=randomItem5+randomItem3+randomItem1+randomItem+randomItem4+randomItem2\nmsg.payload=mar\nglobal.set(\"man\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":140,"wires":[["05a92297d382443d","44d91f5b201cfecf","8a48b325d989815d","5e2dbbfafd415d35"]]},{"id":"8a48b325d989815d","type":"function","z":"ccc89184cd285979","name":"","func":"var mane=global.get('man')\nvar mon=global.get('mon3')\nif(mane==mon){\n    msg.payload=0\n}\nelse{\n    msg.payload=1\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":220,"wires":[["44d91f5b201cfecf","1e40c56fc36432ae"]]},{"id":"44d91f5b201cfecf","type":"debug","z":"ccc89184cd285979","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1330,"y":140,"wires":[]},{"id":"05a92297d382443d","type":"delay","z":"ccc89184cd285979","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":680,"y":60,"wires":[["b65bf1328fe67f35"]]},{"id":"b65bf1328fe67f35","type":"function","z":"ccc89184cd285979","name":"","func":"var myArray = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z'];\nvar myarray =  [\"0\",\"1\",\"2\",\"3\",\"4\",\"5\",\"6\",\"7\",\"8\",\"9\",\"10\"];\nvar alpa_1 = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']; \nvar alpa_2 = ['X','S','P','K','I','G','D','B','A'];\nvar alpa_3 = ['y','t','p','o','l','k','j','g','e'];\nvar sym = ['!','@','#','$','%','&','*'];\nvar randomItem = myArray[Math.floor(Math.random()*myArray.length)];\nvar randomItem1 = myarray[Math.floor(Math.random()*myarray.length)];\nvar randomItem2 = alpa_1[Math.floor(Math.random()*alpa_1.length)];\nvar randomItem3= alpa_2[Math.floor(Math.random()*alpa_2.length)];\nvar randomItem4 = alpa_3[Math.floor(Math.random()*alpa_3.length)];\nvar randomItem5 = sym[Math.floor(Math.random()*sym.length)];\nvar mar1=randomItem5+randomItem3+randomItem1+randomItem+randomItem4+randomItem2\nmsg.payload=mar1\nglobal.set(\"man\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":60,"wires":[["16fc1fcda303e23f"]]},{"id":"1e40c56fc36432ae","type":"switch","z":"ccc89184cd285979","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":970,"y":220,"wires":[["525944575d290c54"],["fabb1b5c6495f90b"]]},{"id":"fabb1b5c6495f90b","type":"function","z":"ccc89184cd285979","name":"","func":"msg.payload=\"\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1140,"y":280,"wires":[["7fa9c6471b5d4ce8"]]},{"id":"fdce99b0583a431a","type":"ui_button","z":"ccc89184cd285979","name":"","group":"1e439f595a4204bb","order":2,"width":"8","height":1,"passthru":false,"label":"GENERATE_OTP","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"0","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":140,"wires":[["1cd47da0d09f9321"]]},{"id":"7fa9c6471b5d4ce8","type":"ui_toast","z":"ccc89184cd285979","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":1390,"y":340,"wires":[]},{"id":"d59b7be3dbba8ef8","type":"ui_template","z":"ccc89184cd285979","group":"ba852f1b82237623","name":"","order":2,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\">\n<title>output</title>\n<link rel=\"stylesheet\" href= \"https:maxcdn.boorstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css\">\n<style>\n    body\n\n    {\n                background-image:url(\"https://images.unsplash.com/photo-1474487548417-781cb71495f3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=984&q=80\");\n                background-size:cover;\n             }\n        </style>\n</head>\n  <script>\n  window.watsonAssistantChatOptions = {\n    integrationID: \"65de454b-686a-435b-b99c-8ed6e0509264\", // The ID of this integration.\n    region: \"us-south\", // The region your integration is hosted in.\n    serviceInstanceID: \"29e1711d-aeca-438c-84b5-e6cccdca0155\", // The ID of your service instance.\n    onLoad: function(instance) { instance.render(); }\n  };\n  setTimeout(function(){\n    const t=document.createElement('script');\n    t.src=\"https://web-chat.global.assistant.watson.appdomain.cloud/versions/\" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + \"/WatsonAssistantChatEntry.js\";\n    document.head.appendChild(t);\n  });\n</script>\n\n\n</body>\n</html> ","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":2200,"y":300,"wires":[["7fb553a330a339cc"]]},{"id":"16fc1fcda303e23f","type":"function","z":"ccc89184cd285979","name":"","func":"global.get(\"man\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":60,"wires":[["44d91f5b201cfecf"]]},{"id":"fa65df7ecfe30605","type":"function","z":"ccc89184cd285979","name":"","func":"global.set('mo2',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":400,"wires":[["8a48b325d989815d"]]},{"id":"edf29d0cd691b942","type":"function","z":"ccc89184cd285979","name":"","func":"var butt=msg.payload\n\nif(butt==1){\n    var mon4=global.get('mo4')\n    msg.payload=mon4\n    global.set('mo3',msg.payload)\n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":520,"wires":[["8a48b325d989815d"]]},{"id":"9172607ba3251b87","type":"ui_button","z":"ccc89184cd285979","name":"","group":"17cd72f184baf1a0","order":10,"width":0,"height":0,"passthru":false,"label":"NEXT","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"tab\":\"PAYMENT_PAGE\"}","payloadType":"json","topic":"topic","topicType":"msg","x":2370,"y":380,"wires":[["7fb553a330a339cc"]]},{"id":"0dfc75b4b1132a30","type":"function","z":"ccc89184cd285979","name":"","func":"var mond=msg.payload\nmsg.payload=mond.d\nglobal.set('mon3',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":220,"wires":[["8a48b325d989815d"]]},{"id":"057961baa857f097","type":"ui_form","z":"ccc89184cd285979","name":"","label":"","group":"1e439f595a4204bb","order":1,"width":0,"height":0,"options":[{"label":"CARD_HOLDER_NAME","value":"chn","type":"text","required":true,"rows":null},{"label":"CARD_NUMBER","value":"cn","type":"number","required":true,"rows":null},{"label":"CVV","value":"cvv","type":"password","required":true,"rows":null},{"label":"EXPIRY_DATE","value":"dates","type":"date","required":true,"rows":null},{"label":"OTP","value":"d","type":"password","required":true,"rows":null}],"formValue":{"chn":"","cn":"","cvv":"","dates":"","d":""},"payload":"","submit":"PROCEED TO PAY","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":70,"y":340,"wires":[["faf5936d7e8c7e4c","e8b0fd044fed04eb","0dfc75b4b1132a30","5ccd1eda6b692601"]]},{"id":"5ccd1eda6b692601","type":"link out","z":"ccc89184cd285979","name":"","mode":"link","links":["53ed5c33718bb7e1"],"x":355,"y":500,"wires":[]},{"id":"c1a77e0f3c43bf9c","type":"ui_form","z":"ccc89184cd285979","name":"","label":"","group":"ba852f1b82237623","order":6,"width":0,"height":0,"options":[{"label":"NAME","value":"name","type":"text","required":true,"rows":null},{"label":"AGE","value":"age","type":"text","required":true,"rows":null},{"label":"PHONE.NO","value":"number","type":"text","required":true,"rows":null},{"label":"DATE","value":"date","type":"date","required":true,"rows":null},{"label":"TIME","value":"time","type":"time","required":true,"rows":null},{"label":"GENDER","value":"gender","type":"text","required":true,"rows":null}],"formValue":{"name":"","age":"","number":"","date":"","time":"","gender":""},"payload":"","submit":"NEXT","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":350,"y":440,"wires":[["3ae03dddb78bbd1a"]]},{"id":"3ae03dddb78bbd1a","type":"function","z":"ccc89184cd285979","name":"","func":"global.set(\"form\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":440,"wires":[["89d4f9ede424de11"]]},{"id":"89d4f9ede424de11","type":"trigger","z":"ccc89184cd285979","name":"","op1":"{\"tab\":\"FOOD_PAGE\"}","op2":"0","op1type":"json","op2type":"str","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":2380,"y":440,"wires":[["7fb553a330a339cc"],[]]},{"id":"5030855a0f58f940","type":"ui_button","z":"ccc89184cd285979","name":"","group":"17cd72f184baf1a0","order":10,"width":0,"height":0,"passthru":false,"label":"BACK","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"tab\":\"BOOKING\"}","payloadType":"json","topic":"topic","topicType":"msg","x":2370,"y":500,"wires":[["7fb553a330a339cc"]]},{"id":"bbd90cf6dbe8b075","type":"ui_button","z":"ccc89184cd285979","name":"","group":"1e439f595a4204bb","order":4,"width":0,"height":0,"passthru":false,"label":"BACK","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"tab\":\"FOOD_PAGE\"}","payloadType":"json","topic":"topic","topicType":"msg","x":2370,"y":320,"wires":[["7fb553a330a339cc"]]},{"id":"e20e598af2d15c1b","type":"ui_button","z":"ccc89184cd285979","name":"","group":"1e439f595a4204bb","order":5,"width":0,"height":0,"passthru":false,"label":"LOGOUT","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"tab\":\"LOGIN_PAGE\"}","payloadType":"json","topic":"topic","topicType":"msg","x":2380,"y":560,"wires":[["7fb553a330a339cc"]]},{"id":"f557740c2e7e6870","type":"function","z":"ccc89184cd285979","name":"","func":"msg.payload=\"THANKS FOR BOOKING !!! , HAVE A SAFE JOURNEY :) \"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2180,"y":60,"wires":[["18b75bf77222a510"]]},{"id":"18b75bf77222a510","type":"ui_toast","z":"ccc89184cd285979","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":2350,"y":60,"wires":[["032720604ce06ffa","61b00462d6acd197"]]},{"id":"61b00462d6acd197","type":"trigger","z":"ccc89184cd285979","name":"","op1":"{\"tab\":\"QRCODE_PAGE\"}","op2":"0","op1type":"json","op2type":"str","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":2560,"y":140,"wires":[["7fb553a330a339cc"],[]]},{"id":"224f5c33bab7e443","type":"function","z":"ccc89184cd285979","name":"","func":"var bord=global.get('b')\nvar dest=global.get('d')\nif(bord==dest){\n    msg.payload=\"SELECT DIFFERENT SOURCE/DESTINATION\"\n}\nelse{\n    msg.payload=\"\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":800,"wires":[["080a200e2116f422"]]},{"id":"080a200e2116f422","type":"ui_toast","z":"ccc89184cd285979","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":930,"y":780,"wires":[[]]},{"id":"f90fdcdd5910e530","type":"e-mail","z":"ccc89184cd285979","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"","x":1110,"y":580,"wires":[]},{"id":"cc964beca478e8e0","type":"function","z":"ccc89184cd285979","name":"","func":"var d4=global.get(\"d2\")\nvar mailss=global.get('mail')\nmsg.payload=mailss\nmsg.to=msg.payload\nmsg.from=\"citybabu.m@care.ac.in\"\nmsg.topic=\"CUSTOMER UNIQUE ID\"\nmsg.payload=d4.UI\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":380,"wires":[["f90fdcdd5910e530","0376b1c9f6a3de40"]]},{"id":"0376b1c9f6a3de40","type":"debug","z":"ccc89184cd285979","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1350,"y":560,"wires":[]},{"id":"9495b67a20926219","type":"ui_template","z":"ccc89184cd285979","group":"1e439f595a4204bb","name":"","order":5,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\">\n<title>output</title>\n<link rel=\"stylesheet\" href= \"https:maxcdn.boorstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css\">\n<style>\n    body\n\n    {\n                background-image:url(\"https://www.caporasoandpartnerslawofficepanama.com/img/articles/virtual-credit-card.jpeg\");\n                background-size:cover;\n             }\n        </style>\n</head>\n  <script>\n  window.watsonAssistantChatOptions = {\n    integrationID: \"65de454b-686a-435b-b99c-8ed6e0509264\", // The ID of this integration.\n    region: \"us-south\", // The region your integration is hosted in.\n    serviceInstanceID: \"29e1711d-aeca-438c-84b5-e6cccdca0155\", // The ID of your service instance.\n    onLoad: function(instance) { instance.render(); }\n  };\n  setTimeout(function(){\n    const t=document.createElement('script');\n    t.src=\"https://web-chat.global.assistant.watson.appdomain.cloud/versions/\" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + \"/WatsonAssistantChatEntry.js\";\n    document.head.appendChild(t);\n  });\n</script>\n\n\n</body>\n</html> ","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":2200,"y":360,"wires":[["7fb553a330a339cc"]]},{"id":"77184f828d8300ac","type":"cloudant out","z":"ccc89184cd285979","name":"","cloudant":"","database":"location","service":"node-red-fexgs-2022--cloudant-1667492963630-9394","payonly":true,"operation":"insert","x":1000,"y":1060,"wires":[]},{"id":"86cbb7bdacfe8609","type":"function","z":"ccc89184cd285979","name":"","func":"var loc=global.get('locat')\nmsg.payload={\n    \"TRAIN_NAME\":loc.name,\n    \"LATITUDE\":loc.lat,\n    \"LONGITUDE\":loc.lon\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":1020,"wires":[["77184f828d8300ac"]]},{"id":"92fa8709ca33b25e","type":"function","z":"ccc89184cd285979","name":"","func":"global.set('locat',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":1040,"wires":[["86cbb7bdacfe8609"]]},{"id":"ecece7dfcce54c84","type":"ui_template","z":"ccc89184cd285979","group":"d812b72b398d714b","name":"","order":2,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\">\n<title>output</title>\n<link rel=\"stylesheet\" href= \"https:maxcdn.boorstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css\">\n<style>\n    body\n\n    {\n                background-image:url(\"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2_FkH9o2i6sbIc_-UpJzBbNnEES7sfQKHJNzmK7CQf0EF5pdoj4MEhSkB_4sGoWHGjEQ&usqp=CAU\");\n                background-size:cover;\n             }\n        </style>\n</head>\n  <script>\n  window.watsonAssistantChatOptions = {\n    integrationID: \"65de454b-686a-435b-b99c-8ed6e0509264\", // The ID of this integration.\n    region: \"us-south\", // The region your integration is hosted in.\n    serviceInstanceID: \"29e1711d-aeca-438c-84b5-e6cccdca0155\", // The ID of your service instance.\n    onLoad: function(instance) { instance.render(); }\n  };\n  setTimeout(function(){\n    const t=document.createElement('script');\n    t.src=\"https://web-chat.global.assistant.watson.appdomain.cloud/versions/\" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + \"/WatsonAssistantChatEntry.js\";\n    document.head.appendChild(t);\n  });\n</script>\n\n\n</body>\n</html> ","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2200,"y":420,"wires":[["7fb553a330a339cc"]]},{"id":"c0e7f83285bf9616","type":"function","z":"ccc89184cd285979","name":"","func":"var mailsss=global.get('mail')\nvar ghj=msg.payload\nmsg.payload=mailsss\nmsg.to=msg.payload\nmsg.from=\"citybabu.m@care.ac.in\"\nmsg.topic=\"TRAIN ID\"\nmsg.payload=ghj\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1680,"y":320,"wires":[["f90fdcdd5910e530","5fbd7ff9cc22227c"]]},{"id":"5fbd7ff9cc22227c","type":"debug","z":"ccc89184cd285979","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1890,"y":340,"wires":[]},{"id":"05f8fb769a321474","type":"ibmiot","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"ba852f1b82237623","type":"ui_group","name":"TICKETRESERVATION","tab":"946edf8961ef4553","order":4,"disp":true,"width":"7","collapse":false,"className":""},{"id":"2b41db177dc550c1","type":"ui_group","z":"ccc89184cd285979","name":"QRCODE","tab":"512745c6575b34cc","order":5,"disp":true,"width":"13","collapse":false,"className":""},{"id":"5e3a3412baeeb827","type":"ui_group","name":"HOMEPAGE","tab":"728c9b583034d2a8","order":1,"disp":true,"width":"34","collapse":false,"className":""},{"id":"1e439f595a4204bb","type":"ui_group","name":"PAYMENT","tab":"60e27942b1d8dc9b","order":1,"disp":true,"width":8,"collapse":false,"className":""},{"id":"17cd72f184baf1a0","type":"ui_group","name":"FOOD","tab":"b6c9ac58dd4e234a","order":1,"disp":true,"width":23,"collapse":false,"className":""},{"id":"d812b72b398d714b","type":"ui_group","name":"LOGIN","tab":"7a4d0d5e653060f6","order":3,"disp":true,"width":"8","collapse":false,"className":""},{"id":"946edf8961ef4553","type":"ui_tab","name":"BOOKING","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"512745c6575b34cc","type":"ui_tab","name":"QRCODE_PAGE","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"728c9b583034d2a8","type":"ui_tab","name":"Tab3","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"60e27942b1d8dc9b","type":"ui_tab","name":"PAYMENT_PAGE","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"b6c9ac58dd4e234a","type":"ui_tab","name":"FOOD_PAGE","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"7a4d0d5e653060f6","type":"ui_tab","name":"LOGIN_PAGE","icon":"dashboard","order":4,"disabled":false,"hidden":false}]