JSON_files/flows _1_LOGIN PAGE.json
[{"id":"abc6d853ee91f728","type":"tab","label":"LOGIN","disabled":false,"info":"","env":[]},{"id":"3ac6585c1085d369","type":"ui_form","z":"abc6d853ee91f728","name":"","label":"","group":"79c8c43b35949998","order":1,"width":8,"height":1,"options":[{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Email","value":"mail","type":"email","required":true,"rows":null},{"label":"Create Password","value":"cp","type":"password","required":true,"rows":null},{"label":"Re-enter Password","value":"rp","type":"password","required":true,"rows":null},{"label":"I'M NOT ROBOT","value":"robot","type":"checkbox","required":true,"rows":null}],"formValue":{"name":"","mail":"","cp":"","rp":"","robot":false},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":90,"y":320,"wires":[["6e84553ba4e3044a"]]},{"id":"6e84553ba4e3044a","type":"function","z":"abc6d853ee91f728","name":"","func":"global.set('m',msg.payload)\nvar cp=msg.payload.cp;\nvar rp=msg.payload.rp;\nif(cp == rp){\n    msg.payload=0\n}\nelse{\n    msg.payload=1\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":320,"wires":[["0602ad4f2c34eb26"]]},{"id":"91624c1d295493b4","type":"function","z":"abc6d853ee91f728","name":"storing db","func":"var m=global.get('m')\nvar PASSWORD=global.get(\"password\")\nmsg.payload={\n    \"_id\":m.mail,\n    \"Name\":m.name,\n    \"Password\":PASSWORD\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1180,"y":100,"wires":[["abfa5eab4856dbf6","7b24dec452c362b6","51e5e26609bda6e7"]]},{"id":"abfa5eab4856dbf6","type":"cloudant out","z":"abc6d853ee91f728","name":"","cloudant":"","database":"logins","service":"node-red-fexgs-2022--cloudant-1667492963630-9394","payonly":true,"operation":"insert","x":1390,"y":40,"wires":[]},{"id":"7b24dec452c362b6","type":"debug","z":"abc6d853ee91f728","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1410,"y":160,"wires":[]},{"id":"51e5e26609bda6e7","type":"function","z":"abc6d853ee91f728","name":"","func":"msg.payload=\"Successfully Registered\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1400,"y":100,"wires":[["911d2c28730c306f"]]},{"id":"911d2c28730c306f","type":"ui_toast","z":"abc6d853ee91f728","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":1590,"y":100,"wires":[]},{"id":"1ea24e975a8ea760","type":"function","z":"abc6d853ee91f728","name":"","func":"msg.payload=\"Something went wrong :( \"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":380,"wires":[["bdc41c7c61ba2db2"]]},{"id":"0602ad4f2c34eb26","type":"switch","z":"abc6d853ee91f728","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":320,"wires":[["6da7ca59df384a51"],["1ea24e975a8ea760"]]},{"id":"bdc41c7c61ba2db2","type":"ui_toast","z":"abc6d853ee91f728","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":830,"y":380,"wires":[[]]},{"id":"7232c9d49492c730","type":"cloudant in","z":"abc6d853ee91f728","name":"E-mail","cloudant":"","database":"logins","service":"node-red-fexgs-2022--cloudant-1667492963630-9394","search":"_id_","design":"","index":"E-mail","x":390,"y":460,"wires":[["60e6ae768bb998eb"]]},{"id":"fe933cda4ded5e77","type":"function","z":"abc6d853ee91f728","name":"mail/pass","func":"global.set('y',msg.payload)\nmsg.payload=msg.payload.email\nglobal.set('mail',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":460,"wires":[["7232c9d49492c730"]]},{"id":"6e2aca8a7234f751","type":"ui_form","z":"abc6d853ee91f728","name":"","label":"","group":"d812b72b398d714b","order":1,"width":8,"height":1,"options":[{"label":"E-mail","value":"email","type":"email","required":true,"rows":null},{"label":"Password","value":"pass","type":"password","required":true,"rows":null},{"label":"I'M NOT ROBOT","value":"robt","type":"checkbox","required":true,"rows":null}],"formValue":{"email":"","pass":"","robt":false},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":90,"y":460,"wires":[["fe933cda4ded5e77"]]},{"id":"3f7bba75685097d5","type":"switch","z":"abc6d853ee91f728","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1070,"y":580,"wires":[["03c5a402559a1ccf"],["6cdf939dd88ecf5b"]]},{"id":"384f80b6825ac0e0","type":"ui_toast","z":"abc6d853ee91f728","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"","name":"","x":1430,"y":580,"wires":[[]]},{"id":"6cdf939dd88ecf5b","type":"function","z":"abc6d853ee91f728","name":"","func":"msg.payload=\"login Unsucessfully\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":580,"wires":[["384f80b6825ac0e0"]]},{"id":"eef146e4aa3f28e8","type":"function","z":"abc6d853ee91f728","name":"","func":"var a=msg.payload\nvar b=global.get('y')\nvar ab=b.pass\nif(ab==a){\n    msg.payload=0\n}\nelse{\n    msg.payload=1\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":580,"wires":[["3f7bba75685097d5"]]},{"id":"29b66ee1618f656b","type":"function","z":"abc6d853ee91f728","name":"","func":"var k =global.get('g')\nmsg.payload=\"    \"+k.Name\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1820,"y":520,"wires":[["61aaecc009bb8d27","fed99afe40184886"]]},{"id":"4279677bca306908","type":"ui_toast","z":"abc6d853ee91f728","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"","name":"","x":1450,"y":460,"wires":[["9fa88e84154591c2","3ae6154d8bdc285b"]]},{"id":"63b07868c4fcc7f0","type":"ui_ui_control","z":"abc6d853ee91f728","name":"","events":"all","x":2500,"y":660,"wires":[["c2a180a5394ce715"]]},{"id":"65ebea69c6fae07f","type":"ui_button","z":"abc6d853ee91f728","name":"","group":"5e3a3412baeeb827","order":2,"width":4,"height":1,"passthru":false,"label":"SIGN_UP","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"tab\":\"REGISTER_PAGE\"}","payloadType":"json","topic":"topic","topicType":"msg","x":1960,"y":600,"wires":[["63b07868c4fcc7f0"]]},{"id":"9cce7019aed4a7c1","type":"ui_button","z":"abc6d853ee91f728","name":"","group":"5e3a3412baeeb827","order":1,"width":4,"height":1,"passthru":false,"label":"SIGN_IN","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"tab\":\"LOGIN_PAGE\"}","payloadType":"json","topic":"topic","topicType":"msg","x":1900,"y":660,"wires":[["63b07868c4fcc7f0"]]},{"id":"fed99afe40184886","type":"trigger","z":"abc6d853ee91f728","name":"","op1":"{\"tab\":\"BOOKING\"}","op2":"0","op1type":"json","op2type":"str","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":2040,"y":520,"wires":[["63b07868c4fcc7f0"],[]]},{"id":"89219f781bfc226c","type":"ui_button","z":"abc6d853ee91f728","name":"","group":"ba852f1b82237623","order":8,"width":7,"height":1,"passthru":false,"label":"LOGOUT","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"tab\":\"LOGIN_PAGE\"}","payloadType":"json","topic":"topic","topicType":"msg","x":1900,"y":820,"wires":[["63b07868c4fcc7f0"]]},{"id":"03c5a402559a1ccf","type":"function","z":"abc6d853ee91f728","name":"","func":"\nmsg.payload=\"login Sucessfull  :)\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1260,"y":460,"wires":[["4279677bca306908"]]},{"id":"1139f682b8de515b","type":"trigger","z":"abc6d853ee91f728","name":"","op1":"{\"tab\":\"LOGIN_PAGE\"}","op2":"0","op1type":"json","op2type":"str","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":2340,"y":320,"wires":[["63b07868c4fcc7f0"],[]]},{"id":"9fa88e84154591c2","type":"delay","z":"abc6d853ee91f728","name":"","pauseType":"delay","timeout":"13","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1650,"y":320,"wires":[["c3ad670862065b77"]]},{"id":"3ae6154d8bdc285b","type":"delay","z":"abc6d853ee91f728","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1640,"y":520,"wires":[["29b66ee1618f656b"]]},{"id":"f5cb45881737c09a","type":"ui_toast","z":"abc6d853ee91f728","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":1990,"y":320,"wires":[["b73169ed4a21bd14"]]},{"id":"c3ad670862065b77","type":"function","z":"abc6d853ee91f728","name":"","func":"msg.payload= \"TIMED OUT :(\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1820,"y":320,"wires":[["f5cb45881737c09a"]]},{"id":"b73169ed4a21bd14","type":"delay","z":"abc6d853ee91f728","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2160,"y":320,"wires":[["1139f682b8de515b"]]},{"id":"61aaecc009bb8d27","type":"ui_text","z":"abc6d853ee91f728","group":"ba852f1b82237623","order":1,"width":7,"height":1,"name":"","label":"LOGGED USER   :)","format":"{{msg.payload}}","layout":"row-left","className":"","x":2050,"y":420,"wires":[]},{"id":"b523901188166bd0","type":"ui_button","z":"abc6d853ee91f728","name":"","group":"d812b72b398d714b","order":2,"width":0,"height":0,"passthru":false,"label":"REGISTER","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"tab\":\"REGISTER_PAGE\"}","payloadType":"json","topic":"topic","topicType":"msg","x":1950,"y":900,"wires":[["63b07868c4fcc7f0"]]},{"id":"c2a180a5394ce715","type":"ui_template","z":"abc6d853ee91f728","group":"17cd72f184baf1a0","name":"food","order":2,"width":1,"height":2,"format":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\">\n<title>output</title>\n<link rel=\"stylesheet\" href= \"https:maxcdn.boorstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css\">\n<style>\n    body\n    {\n                background-image:url(\"https://images-na.ssl-images-amazon.com/images/S/pv-target-images/1742ab28b89270e576fe9dda1c70efd26f09a1ec62fdacd963ce58833d501bdd._RI_.jpg\");\n                background-size:cover;\n             }\n        </style>\n</head>\n    <script>\n  window.watsonAssistantChatOptions = {\n    integrationID: \"65de454b-686a-435b-b99c-8ed6e0509264\", // The ID of this integration.\n    region: \"us-south\", // The region your integration is hosted in.\n    serviceInstanceID: \"29e1711d-aeca-438c-84b5-e6cccdca0155\", // The ID of your service instance.\n    onLoad: function(instance) { instance.render(); }\n  };\n  setTimeout(function(){\n    const t=document.createElement('script');\n    t.src=\"https://web-chat.global.assistant.watson.appdomain.cloud/versions/\" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + \"/WatsonAssistantChatEntry.js\";\n    document.head.appendChild(t);\n  });\n</script>\n \n\n\n</body>\n</html>  ","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2690,"y":660,"wires":[[]]},{"id":"b508431350f7f44c","type":"link in","z":"abc6d853ee91f728","name":"","links":["7fb553a330a339cc"],"x":1915,"y":740,"wires":[["63b07868c4fcc7f0"]]},{"id":"c916030bddd0fa95","type":"ui_button","z":"abc6d853ee91f728","name":"","group":"79c8c43b35949998","order":2,"width":8,"height":1,"passthru":false,"label":"LOGIN","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"tab\":\"LOGIN_PAGE\"}","payloadType":"json","topic":"topic","topicType":"msg","x":2020,"y":980,"wires":[["63b07868c4fcc7f0"]]},{"id":"4de81445e9be56b9","type":"encrypt","z":"abc6d853ee91f728","name":"","algorithm":"AES","key":"secret key","x":800,"y":200,"wires":[["58367246287305db"]]},{"id":"6da7ca59df384a51","type":"function","z":"abc6d853ee91f728","name":"","func":"var ep=global.get(\"m\")\nmsg.payload=ep.cp\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":200,"wires":[["4de81445e9be56b9"]]},{"id":"58367246287305db","type":"function","z":"abc6d853ee91f728","name":"","func":"global.set(\"password\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":200,"wires":[["91624c1d295493b4","405cf04750352fb3"]]},{"id":"a706a63b74512875","type":"decrypt","z":"abc6d853ee91f728","name":"","algorithm":"AES","key":"secret key","x":700,"y":460,"wires":[["eef146e4aa3f28e8"]]},{"id":"60e6ae768bb998eb","type":"function","z":"abc6d853ee91f728","name":"","func":"global.set(\"g\",msg.payload)\nmsg.payload=msg.payload.Password\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":460,"wires":[["a706a63b74512875"]]},{"id":"300c5b169514c26e","type":"debug","z":"abc6d853ee91f728","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1810,"y":400,"wires":[]},{"id":"405cf04750352fb3","type":"debug","z":"abc6d853ee91f728","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1170,"y":280,"wires":[]},{"id":"eff2303357913851","type":"link in","z":"abc6d853ee91f728","name":"","links":["e39ec149db5cee9c"],"x":1925,"y":780,"wires":[["63b07868c4fcc7f0"]]},{"id":"f17ec2f8ee1fc701","type":"ui_button","z":"abc6d853ee91f728","name":"","group":"5e3a3412baeeb827","order":3,"width":"4","height":"1","passthru":false,"label":"PASSENGER_DETAILS","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"tab\":\"Tab9\"}","payloadType":"json","topic":"topic","topicType":"msg","x":2270,"y":460,"wires":[["63b07868c4fcc7f0"]]},{"id":"b3e51c6a62bf6de3","type":"ui_button","z":"abc6d853ee91f728","name":"","group":"79c8c43b35949998","order":2,"width":0,"height":0,"passthru":false,"label":"BACK","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"tab\":\"Tab3\"}","payloadType":"json","topic":"topic","topicType":"msg","x":2230,"y":1000,"wires":[["63b07868c4fcc7f0"]]},{"id":"79c8c43b35949998","type":"ui_group","name":"REGISTER","tab":"2a2240ecd4c412fa","order":2,"disp":true,"width":"8","collapse":false,"className":""},{"id":"d812b72b398d714b","type":"ui_group","name":"LOGIN","tab":"7a4d0d5e653060f6","order":3,"disp":true,"width":"8","collapse":false,"className":""},{"id":"5e3a3412baeeb827","type":"ui_group","name":"HOMEPAGE","tab":"728c9b583034d2a8","order":1,"disp":true,"width":"34","collapse":false,"className":""},{"id":"ba852f1b82237623","type":"ui_group","name":"TICKETRESERVATION","tab":"946edf8961ef4553","order":4,"disp":true,"width":"7","collapse":false,"className":""},{"id":"17cd72f184baf1a0","type":"ui_group","name":"FOOD","tab":"b6c9ac58dd4e234a","order":1,"disp":true,"width":23,"collapse":false,"className":""},{"id":"2a2240ecd4c412fa","type":"ui_tab","name":"REGISTER_PAGE","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"7a4d0d5e653060f6","type":"ui_tab","name":"LOGIN_PAGE","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"728c9b583034d2a8","type":"ui_tab","name":"Tab3","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"946edf8961ef4553","type":"ui_tab","name":"BOOKING","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"b6c9ac58dd4e234a","type":"ui_tab","name":"FOOD_PAGE","icon":"dashboard","order":6,"disabled":false,"hidden":false}]