Assessment/Assignment_04/Citybabu_M/flows (1).json
[{"id":"ba2043807280abfb","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"f5cd6d5c81acdb46","type":"ibmiot in","z":"ba2043807280abfb","authentication":"apiKey","apiKey":"05f8fb769a321474","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"mydeviceid","applicationId":"","deviceType":"mydevice","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":190,"y":100,"wires":[["1a5e70940de523e9","e91e7ea64dd7a499"]]},{"id":"e91e7ea64dd7a499","type":"debug","z":"ba2043807280abfb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":100,"wires":[]},{"id":"381d9f4031150070","type":"ui_gauge","z":"ba2043807280abfb","name":"","group":"ba852f1b82237623","order":0,"width":0,"height":0,"gtype":"wave","title":"Distance","label":"Cm","format":"{{value}}","min":0,"max":"400","colors":["#95b300","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":600,"y":180,"wires":[]},{"id":"1a5e70940de523e9","type":"function","z":"ba2043807280abfb","name":"Distance Node","func":"msg.payload=msg.payload.Distance\nglobal.set('t',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":160,"wires":[["381d9f4031150070"]]},{"id":"e0f52d94df0626fe","type":"http in","z":"ba2043807280abfb","name":"","url":"/UltraSonic","method":"get","upload":false,"swaggerDoc":"","x":200,"y":300,"wires":[["1a242dcd3ff0ae52"]]},{"id":"4328fc380c16ccaa","type":"http response","z":"ba2043807280abfb","name":"","statusCode":"","headers":{},"x":510,"y":300,"wires":[]},{"id":"1a242dcd3ff0ae52","type":"function","z":"ba2043807280abfb","name":"http func","func":"msg.payload={\"Distance\":global.get(\"t\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":280,"wires":[["4328fc380c16ccaa"]]},{"id":"05f8fb769a321474","type":"ibmiot","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"ba852f1b82237623","type":"ui_group","name":"Distance in CM","tab":"946edf8961ef4553","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"946edf8961ef4553","type":"ui_tab","name":"Cloud Data","icon":"dashboard","disabled":false,"hidden":false}]